@media(max-width:767px){
    .info{
        border-right: hidden !important;

    }
}

body {
    padding-bottom: 70px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    font-size: 12px;
}

footer .row {
    margin-top: 20px;
}

.header {
    margin-top: 20px;
}

#fn_button_group {
    margin-bottom: 30px;
}
