{% extends "base.html.jinja" %}

{% block body %}
<style>
    @media(max-width:767px){
    .info{
        border-right: hidden !important;

    }
}
.header {
    padding-top: 20px;
}
</style>

<div class="container">
    <div class="row header">
        <div class="col-12">
            <h1>VigEncrypt</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 border-right info">
            <p class="text-justify">a<a href=https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher>
                    Vigenere Cipher</a> written using Flask </p> <p>
                    <a class="github-button" href="https://github.com/A-Costa"
                        data-size="large" aria-label="Follow @A-Costa on GitHub">Follow
                        @A-Costa
                    </a>
            </p>
            <p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary btn-sm active">
                        <input type="radio" name="options" id="option1"
                            autocomplete="off" checked>Encrypt
                    </label>
                    <label class="btn btn-secondary btn-sm">
                        <input type="radio" name="options" id="option2"
                            autocomplete="off"> Decrypt
                    </label>
                </div>
            </p>
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Vigen%C3%A8re_square_shading.svg"
                        class="img-fluid" alt="Vigenere Square" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="TextArea1">Plain Text</label>
                    <textarea class="form-control" id="TextArea1" rows="6"></textarea>
                </div>
                <div class="form-group">
                    <label for="KeyTextarea">Encryption Key</label>
                    <input type="text" class="form-control" id="KeyTextarea">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label>Key Method</label>
                        </div>

                        <div class="col-8">
                            <div class="form-check form-check-inline" id="KeyMethod">
                                <input class="form-check-input" type="radio"
                                    checked="checked" name="inlineRadioOptions"
                                    id="inlineRadio1" value="repeat">
                                <label class="form-check-label" for="inlineRadio1">Repeat</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                    name="inlineRadioOptions" id="inlineRadio2"
                                    value="autokey">
                                <label class="form-check-label" for="inlineRadio2">Autokey</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Encrypt</button>
                <hr>
                <div class="form-group">
                    <label for="TextArea2">Cipher Text</label>
                    <textarea class="form-control" id="TextArea2" rows="6"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<script src={{ url_for('static', filename='js/home.js') }}></script>
{% endblock %}
